* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    max-width: 1440px;
    background: rgb(0, 127, 156);
    background: linear-gradient(50deg, rgba(0, 127, 156, 1) 0%, rgba(95, 112, 154, 1) 49%, rgba(198, 4, 153, 1) 100%);
}

section {
    height: 100vh;
    max-width: 1440px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 30rem;
}

p {
    color: rgb(224, 233, 238);
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: rgb(224, 233, 238);
}

input {
    border: none;
    color: rgb(224, 233, 238);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.container {
    width: 100%;
    height: 70vh;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 4fr;
    overflow: hidden;
    border-radius: 0.2em;
}

.teks {
    color: rgb(224, 233, 238);
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1.2em;

}

.tombol {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.row1 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn {
    width: 100%;
    height: 100%;
    font-size: 1.2em;
}

.btn:hover {
    cursor: pointer;
    background: rgba(1, 68, 104, 0.05);
}

.dark-theme {
    background: rgb(9, 21, 24);
    background: linear-gradient(50deg, rgb(5, 16, 19) 0%, rgb(5, 9, 17) 49%, rgb(29, 9, 24) 100%);
}

.theme {
    width: 30px;
    display: block;
    align-self: center;
    margin-bottom: 0.9rem;
    cursor: pointer;
}

.ubah {
    background-image: url(img/moon.png);
}

/* responsive smartphone 375px */
@media (max-width:1060px) {
    section {
        padding: 0 1.2rem;
    }

    .container {
        height: 80vh;
    }

    .teks {
        font-size: 1.1em;
    }

    .btn {
        font-size: 1em;
    }
}